@tailwind base;
@tailwind components;
@tailwind utilities;

/* RotateOnHover.css */
.rotating-element {
	transition: transform 0.3s ease; /* Smooth transition */
	cursor: pointer;
}

.rotating-element:hover {
	transform: rotate(10deg) scale(1.1); /* Rotate 10 degrees on hover */
}
.fadeInUp {
	animation: fadeInUp 0.69s ease-in-out forwards;
}

.gradient-bg {
	background: linear-gradient(to bottom right, #222, #000);
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(10px); /* Starts 20px below its normal position */
	}
	to {
		opacity: 1;
		transform: translateY(0); /* Ends at its normal position */
	}
}
