@tailwind base;
@tailwind components;
@tailwind utilities;

/* RotateOnHover.css */
.rotating-element {
	transition: transform 0.3s ease; /* Smooth transition */
	cursor: pointer;
}

.fadeIn {
	opacity: 0; /* Start hidden */
	animation: fadeInUp2 0.69s ease-in-out forwards; /* Apply fade-in animation */
}

.rotating-element:hover {
	transform: rotate(10deg) scale(1.1); /* Rotate 10 degrees on hover */
}

/* Staggered Animation Delays */
.fadeIn:nth-child(1) {
	animation-delay: 0ms; /* No delay for the first element */
}

.fadeIn:nth-child(2) {
	animation-delay: 75ms; /* 50ms delay for the second element */
}

.fadeIn:nth-child(3) {
	animation-delay: 150ms; /* 100ms delay for the third element */
}

.fadeInUp {
	opacity: 0;
	animation: fadeInUp 690ms 888ms ease-in-out forwards;
}

.gradient-bg {
	background: linear-gradient(to bottom right, #222, #000);
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(60px); /* Starts 20px below its normal position */
	}
	to {
		opacity: 1;
		transform: translateY(0); /* Ends at its normal position */
	}
}

@keyframes fadeInUp2 {
	from {
		opacity: 0;
		transform: translateY(4px); /* Starts 20px below its normal position */
	}
	to {
		opacity: 1;
		transform: translateY(0); /* Ends at its normal position */
	}
}

.shiba-inu-gradient {
	background: linear-gradient(to bottom right, #e8d5b580, #00000080);
}

.gradient-text {
	background: linear-gradient(to bottom right, #f5e5c0, #333333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}

.shaking-element {
	animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

@keyframes shake {
	0%,
	100% {
		transform: translate(0, 0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate(-5px, -2px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate(5px, 2px);
	}
}
